<div id="property-container" class="container">
  <div class="row">
    <div class="col-7 card-show">
      <%= image_tag "houses/#{rand(10)}" %>
      <h1><%= @property.address %></h1>
      <p><span class="prop-info">Landlord: </span><%= @property.landlord.name %></p>
      <p><span class="prop-info">Overall score: </span>★★★</p>
      <p><span class="prop-info">Reviews: </span><%= @property.reviews.count %></p>

      <% if @property.reviews.any? %>
        <% @property.reviews.each do |f|%>
          <div class="reviews">
            <div class="review-first-row">
              <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png"/>
              <p>
              <% if f.property_rating.nil? %>
                <% 5.times do %>
                  <i class="fas fa-star black"></i>
                <% end %>
              <% else %>
                <% f.property_rating.times do %>
                  <i class="fas fa-star black"></i>
                <% end %>
              <% end %>
              </p>
            </div>
              <p class="review-second-row"><strong><%= f.property_comment %></strong></p>
          </div>
        <% end %>
      <% else %>
        <p>No reviews yet</p>
      <% end %>

      <div class="review-link">
        <button id="new-review" class="btn btn-action">leave review</button>
      </div>
    </div>
  </div>

  <div class="card-new-review" id="toggle-review" style="display:none;">
    <%= simple_form_for [@property, @review] do |f| %>
      <div class="form-inputs">
        <%# Landlord rating %>
        <div class="card-new-header bold justify-content-center">Add a review</div>
        <p class="bold">Landlord rating:</p>
        <div class="numbers d-flex  justify-content-between">
          <p class="bold">1</p>
          <p class="bold">2</p>
          <p class="bold">3</p>
          <p class="bold">4</p>
          <p class="bold">5</p>
        </div>
        <div data-controller="range-slider-landlord">
          <input type="range" min="1" max="5" value="3" class="range" id="range" data-target="range-slider-landlord.range" data-action="input->range-slider-landlord#updateValue">

          <%= f.input :landlord_rating, as: :hidden, input_html: { data: { target: "range-slider-landlord.hidden"}}, collection: 0..5 %>
        </div>

        <%# Property rating %>
        <p class="bold">Property rating:</p>
        <div class="numbers d-flex  justify-content-between">
          <p class="bold">1</p>
          <p class="bold">2</p>
          <p class="bold">3</p>
          <p class="bold">4</p>
          <p class="bold">5</p>
        </div>
        <div data-controller="range-slider-property">
          <input type="range" min="1" max="5" value="3" class="range" data-target="range-slider-property.range" data-action="input->range-slider-property#updateValue">
          <%= f.input :property_rating, as: :hidden, input_html: { data: { target: "range-slider-property.hidden"}}, collection: 0..5 %>
        </div>

        <%# Communication %>
        <p class="bold">Communication:</p>
        <div class="numbers d-flex  justify-content-between">
          <p class="bold">1</p>
          <p class="bold">2</p>
          <p class="bold">3</p>
          <p class="bold">4</p>
          <p class="bold">5</p>
        </div>
        <div data-controller="range-slider-communication">
          <input type="range" min="1" max="5" value="3" class="range" data-target="range-slider-communication.range" data-action="input->range-slider-communication#updateValue">
          <%= f.input :communication, as: :hidden, input_html: { data: { target: "range-slider-communication.hidden"}}, collection: 0..5 %>
        </div>

        <%# maintenance %>
        <p class="bold">maintenance:</p>
        <div class="numbers d-flex  justify-content-between">
          <p class="bold">1</p>
          <p class="bold">2</p>
          <p class="bold">3</p>
          <p class="bold">4</p>
          <p class="bold">5</p>
        </div>
        <div data-controller="range-slider-maintenance">
          <input type="range" min="1" max="5" value="3" class="range" data-target="range-slider-maintenance.range" data-action="input->range-slider-maintenance#updateValue">
          <%= f.input :maintenance, as: :hidden, input_html: { data: { target: "range-slider-maintenance.hidden"}}, collection: 0..5 %>
        </div>

        <%# cleanliness %>
        <p class="bold">cleanliness:</p>
        <div class="numbers d-flex  justify-content-between">
          <p class="bold">1</p>
          <p class="bold">2</p>
          <p class="bold">3</p>
          <p class="bold">4</p>
          <p class="bold">5</p>
        </div>
        <div data-controller="range-slider-cleanliness">
          <input type="range" min="1" max="5" value="3" class="range" data-target="range-slider-cleanliness.range" data-action="input->range-slider-cleanliness#updateValue">
          <%= f.input :cleanliness, as: :hidden, input_html: { data: { target: "range-slider-cleanliness.hidden"}}, collection: 0..5 %>
        </div>

        <%= f.input :landlord_comment, placeholder: "Type your review..." , :label_html => { :class => 'bold text-input' }%>
        <%= f.input :property_comment, placeholder: "Type your review...", :label_html => { :class => 'bold text-input' } %>
        <%= f.input :rental_cost, :label_html => { :class => 'bold' } %>
        <div class="d-flex justify-content-between">
          <%= f.input :photos, input_html: { class: 'd-none' }, label_html: { class: 'btn btn-action'}, label: '📷 Upload a photo', as: :file %>
          <%= f.button :submit, class:"btn btn-submit " %>
        </div>
      </div>
      <div class="form-actions">
      </div>
    <% end %>
  </div>
</div>
