<div id="property-container" class="container">
  <div class="row">
    <div class="col-7 card-show">
      <%= image_tag "house.png" %>
      <h1><%= @property.address %></h1>
      <p><span class="prop-info">Landlord: </span><%= @property.landlord.name %></p>
      <p><span class="prop-info">Overall score: </span> TODO ★</p>
      <p><span class="prop-info">Reviews: </span><%= @property.reviews.count %></p>

      <% if @property.reviews.any? %>
        <% @property.reviews.each do |f|%>
          <div class="reviews">
            <div class="review-first-row">
              <img src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png"/>
              <p>
                <% f.property_rating.times do %>
                  <i class="fas fa-star black"></i>
                <% end %>
              </p>
            </div>
              <p class="review-second-row"><strong><%= f.property_comment %></strong></p>
          </div>
        <% end %>
      <% else %>
        <p>No reviews yet</p>
      <% end %>

      <div class="review-link">
        <%= link_to 'Leave review', new_property_review_path(@property), class: 'btn-action' %>
      </div>

    </div>
  </div>
</div>
