<div class="banner">

  <img src="<%= asset_path('home-one.png')  %>" alt="" id="home1">
  <img src="<%= asset_path('home-two.png')  %>" alt="" id="home2">
  <img src="<%= asset_path('home-three.png')  %>" alt="" id="home3">

  <div class="container">
    <div class="viewheight">
      <div class="banner-text p-3">
        <div class="row">
          <div class="col-8">
            <h1 class="d-green bold">Check out your future apartment</h1>
            <p class="green semi-bold text"><span id="banner-typed-text"></p>
            <%# <p class="green semi-bold text">This is how it works!</p> %>
          </div>
        </div>
        <div >
          <div >
            <div class="d-flex justify-content-center buttons">
              <%= link_to 'Search landlord', landlords_path, class:"btn btn-action mx-3", id:"btn-banner"%>
              <%= link_to 'Search property', properties_path, class:"btn btn-action mx-3", id:"btn-banner" %>
            </div>
          </div>
        </div>
          <img src="<%= asset_path('keylightno.svg')  %>" alt="" id="img-home">
      </div>


      <section id="carousel">
        <button class="scroll-left">
          <i class="fas fa-chevron-left"></i>
        </button>
        <ul>
          <li>
            <div class="d-flex align-items-center">
              <img src="<%= asset_path('avatar1')  %>" alt="" id="avatar-img">
              <p class="no-margin"> <strong> - <%=Review.find(Review.pluck(:id).sample).user.first_name  %></strong></p>
            </div>
            <div>
            <% Review.find(Review.pluck(:id).sample).property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em><%= Review.find(Review.pluck(:id).sample).property_comment %></em></p>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <img src="<%= asset_path('avatar2')  %>" alt="" id="avatar-img">
              <p class="no-margin"> <strong> - <%=Review.find(Review.pluck(:id).sample).user.first_name  %></strong></p>
            </div>            <div>
            <% Review.find(Review.pluck(:id).sample).property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em><%= Review.find(Review.pluck(:id).sample).property_comment %></em></p>
          </li>
          <li class="first">
            <div class="d-flex align-items-center">
              <img src="<%= asset_path('avatar3')  %>" alt="" id="avatar-img">
              <p class="no-margin"> <strong> - <%=Review.find(Review.pluck(:id).sample).user.first_name  %></strong></p>
            </div>
            <div>
            <% Review.find(Review.pluck(:id).sample).property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em><%= Review.find(Review.pluck(:id).sample).property_comment %></em></p>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <img src="<%= asset_path('avatar3')  %>" alt="" id="avatar-img">
              <p class="no-margin"> <strong> - <%=Review.find(Review.pluck(:id).sample).user.first_name  %></strong></p>
            </div>
            <div>
            <% Review.find(Review.pluck(:id).sample).property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em><%= Review.find(Review.pluck(:id).sample).property_comment %></em></p>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <img src="<%= asset_path('avatar4')  %>" alt="" id="avatar-img">
              <p class="no-margin"> <strong> - <%=Review.find(Review.pluck(:id).sample).user.first_name  %></strong></p>
            </div>
            <div>
            <% Review.find(Review.pluck(:id).sample).property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em><%= Review.find(Review.pluck(:id).sample).property_comment %></em></p>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <img src="<%= asset_path('avatar5')  %>" alt="" id="avatar-img">
              <p class="no-margin"> <strong> - <%=Review.find(Review.pluck(:id).sample).user.first_name  %></strong></p>
            </div>
           <div>
            <% Review.find(Review.pluck(:id).sample).property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em><%= Review.find(Review.pluck(:id).sample).property_comment %></em></p>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <img src="<%= asset_path('avatar6')  %>" alt="" id="avatar-img">
              <p class="no-margin"> <strong> - <%=Review.find(Review.pluck(:id).sample).user.first_name  %></strong></p>
            </div>
            <div>
            <% Review.find(Review.pluck(:id).sample).property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em><%= Review.find(Review.pluck(:id).sample).property_comment %></em></p>
          </li>
        </ul>
        <button class="scroll-right">
          <i class="fas fa-chevron-right"></i>
        </button>
      <div id="circles-reviews" style="margin: 1rem auto; text-align: center;">
        <i class="far fa-circle circle-review"></i>
        <i class="far fa-circle circle-review"></i>
        <i id="middle-circle" class="fas fa-circle circle-review"></i>
        <i class="far fa-circle circle-review"></i>
        <i class="far fa-circle circle-review"></i>
      </div>
      </section>
    </div>
    <div class="how-it-works d-flex  flex-column">
      <h2 class="bold my-3">This is how it works</h2>
      <div class="d-flex justify-content-around how-it-works-mobile">
        <div class="step">
          <img src="<%= asset_path('house.svg')  %>" alt="">
          <p class="semi-bold">1. Find your property</p>
        </div>
        <div class="step">
          <img src="<%= asset_path('select.svg')  %>" alt="">
          <p class="semi-bold">2. Select the property</p>
        </div>
        <div class="step">
          <img src="<%= asset_path('review.svg')  %>" alt="">
          <p class="semi-bold">3. Leave a review!</p>
        </div>
      </div>

     <p class="bold dark-green justify-content-center quote"> "Alone, we can do so little; together, we can do so much" – Helen Keller.</p>
    </div>
 </div>



  <div class="white-home">
    <div class="container">
      <div class="apartment-section">
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--/.Controls-->

        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
          <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

          <!--First slide-->
          <div class="carousel-item active">


              <div class="col-12 col-md-6 col-lg-6">

              </div>

            <div class="row">
              <div class="col-md-4">


              <div class="card-slider">
                  <img src="<%= asset_path('house-slider-1')  %>" alt="">
                  <p> Hobbemakade</p>
                  <p>Landlord: John Doe</p>
                  <p>Rating: ★★★☆☆</p>
                  <p class="btn-submit ">See property</p>
              </div>

              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-slider">
                  <img src="<%= asset_path('house-slider-2')  %>" alt="">
                  <p> Hobbemakade</p>
                  <p>Landlord: John Doe</p>
                  <p>Rating: ★★★☆☆</p>
                  <p class="btn-submit ">See property</p>

              </div>

              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-slider">
                  <img src="<%= asset_path('house-slider-3')  %>" alt="">
                  <p> Hobbemakade</p>
                  <p>Landlord: John Doe</p>
                  <p>Rating: ★★★☆☆</p>
                  <p class="btn-submit ">See property</p>

              </div>

              </div>
            </div>

          </div>
          <!--/.First slide-->

          <!--Second slide-->
          <div class="carousel-item">

            <div class="row">
              <div class="col-md-4">
              <div class="card-slider">
                  <img src="<%= asset_path('house-slider-4')  %>" alt="">
                  <p> Hobbemakade</p>
                  <p>Landlord: John Doe</p>
                  <p>Rating: ★★★☆☆</p>
                  <p class="btn-submit ">See property</p>

              </div>


              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-slider">
                  <img src="<%= asset_path('house-slider-5')  %>" alt="">
                  <p> Hobbemakade</p>
                  <p>Landlord: John Doe</p>
                  <p>Rating: ★★★☆☆</p>
                  <p class="btn-submit ">See property</p>
              </div>


              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-slider">
                  <img src="<%= asset_path('house-slide-6')  %>" alt="">
                  <p> Hobbemakade</p>
                  <p>Landlord: John Doe</p>
                  <p>Rating: ★★★☆☆</p>
                  <p class="btn-submit ">See property</p>
              </div>





              </div>
            </div>

          </div>
          <!--/.Second slide-->

          <!--Third slide-->
          <div class="carousel-item">

            <div class="row">
              <div class="col-md-4">
              <div class="card-slider">
                  <img src="<%= asset_path('house-slider-7')  %>" alt="">
                  <p> Hobbemakade</p>
                  <p>Landlord: John Doe</p>
                  <p>Rating: ★★★☆☆</p>
                  <p class="btn-submit ">See property</p>
              </div>


              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-slider">
                  <img src="<%= asset_path('house-slider-8')  %>" alt="">
                  <p> Hobbemakade</p>
                  <p>Landlord: John Doe</p>
                  <p>Rating: ★★★☆☆</p>
                  <p class="btn-submit ">See property</p>
              </div>


              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-slider">
                  <img src="<%= asset_path('house-slider-9')  %>" alt="">
                  <p> Hobbemakade</p>
                  <p>Landlord: John Doe</p>
                  <p>Rating: ★★★☆☆</p>
                  <p class="btn-submit ">See property</p>
              </div>

              </div>
            </div>

          </div>
        <!--Controls-->
          <!--/.Third slide-->

        </div>
        <!--/.Slides-->
        <div class="controls-top justify-content-center">
          <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
          <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>

      </div>
      <!--/.Carousel Wrapper-->
      </div>
    </div>
  </div>



</div>
