<section class="banner">

  <div class="banner-text p-3">
    <h1 class="d-green bold">Check out your future appatment </h1>
    <h1 class="green semi-bold">No more surprises</h1>
    <h1 class="green semi-bold">This is how it works!</h1>
  </div>

  <div class="how-it-works d-flex justify-content-around">
    <div class="step">
      <img src="<%= asset_path('house.svg')  %>" alt="">
      <h2 class="semi-bold"> Search</h2>
    </div>
    <div class="step">
      <img src="<%= asset_path('select.svg')  %>" alt="">
      <h2 class="semi-bold">Select</h2>
    </div>
    <div class="step">
      <img src="<%= asset_path('review.svg')  %>" alt="">
      <h2 class="semi-bold">Review</h2>
    </div>
  </div>


</section>

<section class="cards mt-5  py-3">
  <div class="home-grid">
    <div class="card-index ">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
    <div class="card-index">
      <img src="<%= asset_path('house.png') %>" alt="">
      <h2>Address</h2>
      <p> 45 reviews</p>
      <%= link_to 'See property', "#", class: 'btn btn-submit' %>
    </div>
  </div>
</section>
