<div class="banner">

  <img src="<%= asset_path('home-one.png')  %>" alt="" id="home1">
  <img src="<%= asset_path('home-two.png')  %>" alt="" id="home2">
  <img src="<%= asset_path('home-three.png')  %>" alt="" id="home3">

  <div class="container">
    <div class="viewheight">
      <div class="banner-text p-3">
        <div class="row">
          <div class="col-8">
            <h1 class="d-green bold">Check out your future apartment</h1>
            <p class="green semi-bold text"><span id="banner-typed-text"></p>
            <%# <p class="green semi-bold text">This is how it works!</p> %>
          </div>
        </div>
        <div >
          <div >
            <div class="d-flex justify-content-center buttons">
              <%= link_to 'Search landlord', landlords_path, class:"btn btn-action mx-3", id:"btn-banner"%>
              <%= link_to 'Search property', properties_path, class:"btn btn-action mx-3", id:"btn-banner" %>
            </div>
          </div>
        </div>
          <img src="<%= asset_path('keylightno.svg')  %>" alt="" id="img-home">
      </div>


      <section id="carousel">
        <button class="scroll-left">
          <i class="fas fa-chevron-left"></i>
        </button>
        <ul>
          <li>
            <div class="d-flex align-items-center">
                <img src="<%= url_for(@reviews[1].user.avatar) %>" id="avatar-img"/>
                <p class="no-margin pl-2"> <strong><%= @reviews[1].user.first_name  %></strong></p>
            </div>
            <div>
            <% @reviews[1].property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em>"<%= @reviews[1].property_comment %>"</em></p>
            <p class="small-bold"><%= truncate(@reviews[1].property.address) %></p>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <img src="<%= url_for(@reviews[2].user.avatar) %>" id="avatar-img"/>
              <p class="no-margin pl-2"> <strong><%=@reviews[2].user.first_name  %></strong></p>
            </div>
            <div>
            <% @reviews[2].property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em>"<%= @reviews[2].property_comment %>"</em></p>
            <p class="small-bold"><%= truncate(@reviews[2].property.address) %></p>
          </li>
          <li class="first">
            <div class="d-flex align-items-center">
              <img src="<%= url_for(@reviews[3].user.avatar) %>" id="avatar-img"/>
              <p class="no-margin pl-2"> <strong><%= @reviews[3].user.first_name  %></strong></p>
            </div>
            <div>
            <% @reviews[3].property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em>"<%= @reviews[3].property_comment %>"</em></p>
            <p class="small-bold"><%= truncate(@reviews[3].property.address) %></p>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <img src="<%= url_for(@reviews[4].user.avatar) %>" id="avatar-img"/>
              <p class="no-margin pl-2"> <strong><%= @reviews[4].user.first_name  %></strong></p>
            </div>
            <div>
            <% @reviews[4].property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em>"<%= @reviews[4].property_comment %>"</em></p>
            <p class="small-bold"><%= truncate(@reviews[4].property.address) %></p>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <img src="<%= url_for(@reviews[8].user.avatar) %>" id="avatar-img"/>
              <p class="no-margin pl-2"> <strong><%= @reviews[8].user.first_name  %></strong></p>
            </div>
            <div>
            <% @reviews[8].property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em>"<%= @reviews[8].property_comment %>"</em></p>
            <p class="small-bold"><%= truncate(@reviews[8].property.address) %></p>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <img src="<%= url_for(@reviews[6].user.avatar) %>" id="avatar-img"/>
              <p class="no-margin pl-2"> <strong><%= @reviews[1].user.first_name  %></strong></p>
            </div>
           <div>
            <% @reviews[6].property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em>"<%= @reviews[6].property_comment %>"</em></p>
            <p class="small-bold"><%= truncate(@reviews[6].property.address) %></p>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <img src="<%= url_for(@reviews[0].user.avatar) %>" id="avatar-img" />
              <p class="no-margin pl-2"> <strong><%= @reviews[2].user.first_name  %></strong></p>
            </div>
            <div>
            <% @reviews[0].property_rating.times do %>
                <i class="fas fa-star black"></i>
              <% end %>
            </div>
            <p><em>"<%= @reviews[0].property_comment %>"</em></p>
            <p class="small-bold"><%= truncate(@reviews[0].property.address) %></p>
          </li>
        </ul>
        <button class="scroll-right">
          <i class="fas fa-chevron-right"></i>
        </button>
      </section>
      <div id="circles-reviews" style="margin: 1rem auto; text-align: center;">
        <i class="far fa-circle circle-review"></i>
        <i class="far fa-circle circle-review"></i>
        <i id="middle-circle" class="fas fa-circle circle-review"></i>
        <i class="far fa-circle circle-review"></i>
        <i class="far fa-circle circle-review"></i>
      </div>
    </div>
    <div class="how-it-works d-flex  flex-column">
      <h2 class="bold my-3">This is how it works</h2>
      <div class="d-flex justify-content-around how-it-works-mobile">
        <div class="step">
          <img src="<%= asset_path('house.svg')  %>" alt="">
          <p class="semi-bold">1. Find your property</p>
        </div>
        <div class="step">
          <img src="<%= asset_path('select.svg')  %>" alt="">
          <p class="semi-bold">2. Select the property</p>
        </div>
        <div class="step">
          <img src="<%= asset_path('review.svg')  %>" alt="">
          <p class="semi-bold">3. Leave a review!</p>
        </div>
      </div>

     <p class="bold dark-green justify-content-center quote"> "Alone, we can do so little; together, we can do so much" – Helen Keller.</p>
    </div>
 </div>



  <div class="white-home">
    <div class="container">
      <div class="apartment-section">
        <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

        <!--/.Controls-->

        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
          <li data-target="#multi-item-example" data-slide-to="1"></li>
          <li data-target="#multi-item-example" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

          <!--First slide-->
          <div class="carousel-item active">


              <div class="col-12 col-md-6 col-lg-6">

              </div>

            <div class="row">
              <div class="col-md-4">


              <div class="card-slider">
                <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=@properties[1].latitude%>,<%=@properties[5].longitude%>&fov=80&heading=270&pitch=0&key=<%= ENV['GOOGLE_KEY'] %>" alt="">
                  <p><%= truncate(@properties[1].address) %></p>
                  <p><%= @properties[1].landlord.name %></p>
                  <div>
                    <p>
                      <% @properties[1].average_rating_overall.to_i.times do %>
                        <i class="fas fa-star black"></i>
                      <% end %>
                    </p>
                  </div>
                  <%= link_to property_path(@properties[1].id) do %>
                    <p class="btn-submit text-center">See property</p>
                  <% end %>
              </div>

              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-slider">
                <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=@properties[2].latitude%>,<%=@properties[5].longitude%>&fov=80&heading=270&pitch=0&key=<%= ENV['GOOGLE_KEY'] %>" alt="">
                  <p><%= truncate(@properties[2].address) %></p>
                  <p><%= @properties[2].landlord.name %></p>
                  <div>
                    <p>
                      <% @properties[2].average_rating_overall.to_i.times do %>
                        <i class="fas fa-star black"></i>
                      <% end %>
                    </p>
                  </div>
                  <%= link_to property_path(@properties[2].id) do %>
                    <p class="btn-submit text-center">See property</p>
                  <% end %>

              </div>

              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-slider">
                <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=@properties[3].latitude%>,<%=@properties[5].longitude%>&fov=80&heading=270&pitch=0&key=<%= ENV['GOOGLE_KEY'] %>" alt="">
                  <p><%= truncate(@properties[3].address) %></p>
                  <p><%= @properties[3].landlord.name %></p>
                  <div>
                    <p>
                      <% @properties[3].average_rating_overall.to_i.times do %>
                        <i class="fas fa-star black"></i>
                      <% end %>
                    </p>
                  </div>
                  <%= link_to property_path(@properties[3].id) do %>
                    <p class="btn-submit text-center">See property</p>
                  <% end %>

              </div>

              </div>
            </div>

          </div>
          <!--/.First slide-->

          <!--Second slide-->
          <div class="carousel-item">

            <div class="row">
              <div class="col-md-4">
              <div class="card-slider">
                <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=@properties[4].latitude%>,<%=@properties[5].longitude%>&fov=80&heading=270&pitch=0&key=<%= ENV['GOOGLE_KEY'] %>" alt="">
                  <p><%= truncate(@properties[4].address) %></p>
                  <p><%= @properties[4].landlord.name %></p>
                  <div>
                    <p>
                      <% @properties[4].average_rating_overall.to_i.times do %>
                        <i class="fas fa-star black"></i>
                      <% end %>
                    </p>
                  </div>
                  <%= link_to property_path(@properties[4].id) do %>
                    <p class="btn-submit text-center">See property</p>
                  <% end %>

              </div>


              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-slider">
                  <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=@properties[5].latitude%>,<%=@properties[5].longitude%>&fov=80&heading=270&pitch=0&key=<%= ENV['GOOGLE_KEY'] %>" alt="">
                  <p><%= truncate(@properties[5].address) %></p>
                  <p><%= @properties[5].landlord.name %></p>
                  <div>
                    <p>
                      <% @properties[5].average_rating_overall.to_i.times do %>
                        <i class="fas fa-star black"></i>
                      <% end %>
                    </p>
                  </div>
                  <%= link_to property_path(@properties[5].id) do %>
                    <p class="btn-submit text-center">See property</p>
                  <% end %>
              </div>


              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-slider">
                <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=@properties[6].latitude%>,<%=@properties[6].longitude%>&fov=80&heading=270&pitch=0&key=<%= ENV['GOOGLE_KEY'] %>" alt="">
                  <p><%= truncate(@properties[6].address) %></p>
                  <p><%= @properties[6].landlord.name %></p>
                  <div>
                    <p>
                      <% @properties[6].average_rating_overall.to_i.times do %>
                        <i class="fas fa-star black"></i>
                      <% end %>
                    </p>
                  </div>
                  <%= link_to property_path(@properties[6].id) do %>
                    <p class="btn-submit text-center">See property</p>
                  <% end %>
              </div>
              </div>
            </div>

          </div>
          <!--/.Second slide-->

          <!--Third slide-->
          <div class="carousel-item">

            <div class="row">
              <div class="col-md-4">
              <div class="card-slider">
                <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=@properties[7].latitude%>,<%=@properties[7].longitude%>&fov=80&heading=270&pitch=0&key=<%= ENV['GOOGLE_KEY'] %>" alt="">
                  <p><%= truncate(@properties[7].address) %></p>
                  <p><%= @properties[7].landlord.name %></p>
                  <div>
                    <p>
                      <% @properties[7].average_rating_overall.to_i.times do %>
                        <i class="fas fa-star black"></i>
                      <% end %>
                    </p>
                  </div>
                  <%= link_to property_path(@properties[7].id) do %>
                    <p class="btn-submit text-center">See property</p>
                  <% end %>
              </div>


              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-slider">
                <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=@properties[8].latitude%>,<%=@properties[8].longitude%>&fov=80&heading=270&pitch=0&key=<%= ENV['GOOGLE_KEY'] %>" alt="">
                  <p><%= truncate(@properties[8].address) %></p>
                  <p><%= @properties[8].landlord.name %></p>
                  <div>
                    <p>
                      <% @properties[8].average_rating_overall.to_i.times do %>
                        <i class="fas fa-star black"></i>
                      <% end %>
                    </p>
                  </div>
                  <%= link_to property_path(@properties[8].id) do %>
                    <p class="btn-submit text-center">See property</p>
                  <% end %>
              </div>


              </div>

              <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card-slider">
                  <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=@properties[9].latitude%>,<%=@properties[9].longitude%>&fov=80&heading=270&pitch=0&key=<%= ENV['GOOGLE_KEY'] %>" alt="">
                  <p><%= truncate(@properties[9].address) %></p>
                  <p><%= @properties[9].landlord.name %></p>
                    <div>
                      <p>
                        <% @properties[9].average_rating_overall.to_i.times do %>
                          <i class="fas fa-star black"></i>
                        <% end %>
                      </p>
                    </div>
                  <%= link_to property_path(@properties[9].id) do %>
                    <p class="btn-submit text-center">See property</p>
                  <% end %>
              </div>

              </div>
            </div>

          </div>
        <!--Controls-->
          <!--/.Third slide-->

        </div>
        <!--/.Slides-->
        <div class="controls-top justify-content-center">
          <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
          <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>

      </div>
      <!--/.Carousel Wrapper-->
      </div>
    </div>
  </div>



</div>
