<div class="container-fluid px-0">
      <div id="property-container">
        <h1 class="text-center">Landlords</h1>
        <%= form_tag landlords_path, class: 'search', method: :get do %>
          <%= text_field_tag :query, nil, placeholder: "Search for a landlord...", class: 'form-control form-tag' %>
          <button type="submit" class="btn btn-search">
            Search <%= icon('fas', 'search') %>
          </button>
        <% end %>
      </div>
      <div class="row justify-content-center" id="landlord-list">
        <div class="col-8 mx-5">
          <div class="table-headers-green">
            <p class="table-item-left">Name</p>
            <p class="table-item-center">Properties</p>
            <p class="table-item-right">Average rating</p>
          </div>
          <% @landlords.each do |landlord| %>
                <%= link_to landlord_path(landlord) do %>
                  <div class="table-body">
                    <p class="table-item-left"><%= landlord.name %></p>
                    <p class="table-item-center"><%= landlord.properties.count %></p>
                    <p class="table-item-right">★★★</p>
                  </div>
                <% end %>
          <% end %>
        </div>
      </div>
</div>
