<div id="properties-container" class="container mw-100">
  <div class="row">
    <header class="col-12 text-center hidden-mob">
      <h1><%= @landlord.name %></h1>
      <% if @landlord.reviews.count > 0 %>
        <p>
          <% @landlord.average_rating_overall.to_i.times do %>
            <span class="green-star">★</span>
          <% end %>
          <% (5 - @landlord.average_rating_overall.to_i).times do %>
            <span class="green-star">☆</span>
          <% end %>
        </p>
        <%# Landlord overall rating %>
        <div class="d-flex justify-content-between flex-wrap my-5 mx-5 prop-rating  " >
          <div>
            <p>Overall rating</p>
            <p class="rating-slider" style="--rating: <%= @landlord.average_rating_overall * 20 %>%"></p>
          </div>
          <div>
            <p>Average property rating</p>
            <p class="rating-slider" style="--rating: <%= @landlord.average_property_rating * 20 %>%"></p>
          </div>
          <div>
            <p>Average landlord rating</p>
            <p class="rating-slider" style="--rating: <%= @landlord.average_landlord_rating * 20 %>%"></p>
          </div>
          <div>
            <p>Average communication rating</p>
            <p class="rating-slider" style="--rating: <%= @landlord.average_communication_rating * 20 %>%"></p>
          </div>
          <div>
            <p>Average maintenance rating</p>
            <p class="rating-slider" style="--rating: <%= @landlord.average_maintenance_rating * 20 %>%"></p>
          </div>
          <div>
            <p>Average cleanliness rating</p>
            <p class="rating-slider" style="--rating: <%= @landlord.average_cleanliness_rating * 20 %>%"></p>
          </div>
        </div>
      <% end %>
    </header>

    <div class="show-overal-mob">
      <h2 class="show-title"><%= @landlord.name %></h2>
      <p>Overall rating:</p>
      <p class="rating-slider" style="--rating: <%= @landlord.average_rating_overall * 20 %>%"></p>
      <p>Average property rating</p>
      <p class="rating-slider" style="--rating: <%= @landlord.average_property_rating * 20 %>%"></p>
      <p>Average landlord rating</p>
      <p class="rating-slider" style="--rating: <%= @landlord.average_landlord_rating * 20 %>%"></p>
      <p>Average communication rating</p>
      <p class="rating-slider" style="--rating: <%= @landlord.average_communication_rating * 20 %>%"></p>
      <p>Average maintenance rating</p>
      <p class="rating-slider" style="--rating: <%= @landlord.average_maintenance_rating * 20 %>%"></p>
      <p>Average cleanliness rating</p>
      <p class="rating-slider" style="--rating: <%= @landlord.average_cleanliness_rating * 20 %>%"></p>
    </div>

    <% if @properties.count > 0 %>
      <div class="col-12 col-md-6 col-lg-6 show-mob">
        <div class="cards-index d-flex flex-wrap justify-content-center">
          <% @properties.each do |property| %>
            <%= link_to property_path(property), class: "card-index" do %>
              <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=property.latitude%>,<%=property.longitude%>&fov=80&heading=270&pitch=0&key=<%= ENV['GOOGLE_KEY'] %>" alt="">
              <p> <%= property.address %></p>
              <p>Landlord: <%= property.landlord.name %></p>
              <p>Rating: ★★★☆☆</p>
              <p class="btn-submit">See property</p>
            <% end %>
          <% end %>
        </div>
      </div>

      <div id="map-container" class="col-12 col-md-6 col-lg-6">
        <div id="map"
        style="height:100vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    <% end %>
    <% if @properties.count == 0 %>
          <div class="col text-center">
            <p>No properties yet...</p>
            <%= link_to 'Add a property', new_property_path, class: 'btn btn-action' %>
          </div>
    <% end %>

  </div>
</div>
