<div class="container-fluid px-0">
<div class="jumbotron jumbotron-fluid justify-content-center jumbotron-header">
    <h1>Review your new property</h1>
  </div>
  <%= simple_form_for [@property, @review] do |f| %>
    <div class="form-inputs">
      <%= f.input :landlord_comment, placeholder: "Type your review..." %>
      <%= f.input :property_comment, placeholder: "Type your review..." %>
      <%= f.input :property_rating %>
      <%= f.input :landlord_rating %>
      <%= f.input :rental_cost %>
      <%= f.input :communication %>
      <%= f.input :cleanliness %>
      <%= f.button :submit, class:"btn btn-submit" %>
    </div>
    <div class="form-actions">
    </div>
  <% end %>
</div>
