<div class="container padding-200 d-flex justify-content-center">
  <div class="card-show-review ">
    <img src="<%= asset_path('house.png') %>" alt=""> <br>
    <section class="score d-flex justify-content-center m-3">
      <div class="score-card">
        <table>
          <%# <thead>
            <th colspan="100%">Landlord average rating:</th>
          </thead> %>
          <tbody>
          <%# Landlord %>
            <tr>
              <td colspan="100%" class="bold py-2">Landlord average rating:</td>
            </tr>
            <tr>
            <% @review.landlord_rating.times do %>
              <td class="td-call"></td>
              <% end %>
              <% x = 5 - @review.landlord_rating %>
              <% x.times do %>
                <td class="td-green"></td>
              <% end %>
            </tr>
            <%# property %>
            <tr>
              <td colspan="100%" class="bold py-2">Property average rating:</td>
            </tr>
            <tr>
            <% @review.property_rating.times do %>
              <td class="td-call"></td>
              <% end %>
              <% x = 5 - @review.property_rating %>
              <% x.times do %>
                <td class="td-green"></td>
              <% end %>
            </tr>
          <%# communication %>
            <tr>
              <td colspan="100%" class="bold py-2">Communication:</td>
            </tr>
            <tr>
            <% @review.communication.times do %>
              <td class="td-call"></td>
              <% end %>
              <% x = 5 - @review.communication %>
              <% x.times do %>
                <td class="td-green"></td>
              <% end %>
            </tr>
            <%# cleanliness %>
            <tr>
              <td colspan="100%" class="bold py-2">Cleanliness:</td>
            </tr>
            <tr>
            <% @review.cleanliness.times do %>
              <td class="td-call"></td>
              <% end %>
              <% x = 5 - @review.cleanliness %>
              <% x.times do %>
                <td class="td-green"></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="comments d-flex justify-content-between m-3 p-3">
      <p class="bold">About the landlord:</p>
      <%= @review.landlord_comment %>
      <p class="mt-3 bold">About the property:</p>
      <p class="dark-green"><%= @review.property_comment %> </p>
      <div class="d-flex">
        <p class="bold">Average rent:</p>
       <p>€<%= @review.rental_cost %>,-</p>
      </div>
    </section>
    <%= link_to 'Contact', "#", class: 'btn btn-action' %>
</div>
