<div class="container padding-200 d-flex justify-content-center">
  <div class="card-show-review ">
        <% if @review.photos.attached?%>
          <div class="d-flex justify-content-between" >
            <% lat = @property.latitude  %>
            <% long = @property.longitude %>
            <img src="https://maps.googleapis.com/maps/api/streetview?size=400x400&location=<%=lat%>,<%=long%>&fov=80&heading=270&pitch=0&key=<%= ENV['GOOGLE_KEY'] %>" alt="" class="img-review">
            <img src="<%= cl_image_path @review.photos.key, width: 400, height: 400, crop: :fill %>" alt="picture of the house" class="img-review">
          </div>
          <% else  %>
            <% lat = @property.latitude  %>
            <% long = @property.longitude %>
            <img src="https://maps.googleapis.com/maps/api/streetview?size=1000x1000&location=<%=lat%>,<%=long%>&fov=80&heading=270&pitch=0&key=<%= ENV['GOOGLE_KEY'] %>" alt="">
          <% end %>
      <h2 class="px-3 pt-3 text-center"><%= @property.address %></h2>
      <section class="score d-flex justify-content-center m-3">
      <div class="score-card">
        <table class="no-border table-width">
          <%# <thead>
            <th colspan="100%">Landlord average rating:</th>
          </thead> %>
          <tbody>
          <%# Landlord %>
            <tr class="tr-height">
              <td colspan="100%" class="bold py-2 d-green">Landlord average rating:</td>
            </tr>
            <tr class="tr-height">
            <% @review.landlord_rating.times do %>
              <td class="td-call"></td>
              <% end %>
              <% x = 5 - @review.landlord_rating %>
              <% x.times do %>
                <td class="td-green"></td>
              <% end %>
            </tr>
            <%# property %>
            <tr class="tr-height">
              <td colspan="100%" class="bold py-2 d-green">Property average rating:</td>
            </tr>
            <tr class="tr-height">
            <% @review.property_rating.times do %>
              <td class="td-call"></td>
              <% end %>
              <% x = 5 - @review.property_rating %>
              <% x.times do %>
                <td class="td-green"></td>
              <% end %>
            </tr>
          <%# communication %>
            <tr class="tr-height">
              <td colspan="100%" class="bold py-2 d-green">Communication:</td>
            </tr>
            <tr class="tr-height">
            <% @review.communication.times do %>
              <td class="td-call"></td>
              <% end %>
              <% x = 5 - @review.communication %>
              <% x.times do %>
                <td class="td-green"></td>
              <% end %>
            </tr>
            <%# cleanliness %>
            <tr class="tr-height">
              <td colspan="100%" class="bold py-2 d-green">Cleanliness:</td>
            </tr>
            <tr class="tr-height">
            <% @review.cleanliness.times do %>
              <td class="td-call"></td>
              <% end %>
              <% x = 5 - @review.cleanliness %>
              <% x.times do %>
                <td class="td-green"></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
    <section class="comments d-flex justify-content-between m-3 p-3">
      <p class="bold d-green">About the landlord:</p>
      <p class="d-green"><%= @review.landlord_comment %></p>
      <p class="mt-3 bold d-green">About the property:</p>
      <p class="d-green"><%= @review.property_comment %> </p>
        <p class="bold d-green mt-1">Average rent: </p>
        <p class="d-green">€<%= @review.rental_cost %>,-</p>
    </section>
    <div class="justify-content-center">
      <%= link_to 'More properties', landlord_path(@property.landlord.id), class:"btn btn-action mx-3 btn-more"%>
    </div>
</div>
